.murButtonSecondary {
  color: #5b7384;
}

.murButtonSecondary:not(:disabled):hover {
  background-color: rgba(112, 115, 147, 0.058823529411764705);
}

.murButtonPrimary {
  background-color: #5266eb;
  color: white;
}

.murButtonPrimary:disabled {
  opacity: 0.24 !important;
}

.murButtonPrimary:not(:disabled):hover {
  background-color: #5266eb !important;
}

.murButtonPrimary:hover {
  background-color: #364ee7 !important;
}

.murButton {
  border-radius: 26px;
  font-size: 15px;
  font-weight: 480;
  line-height: 24px;
  opacity: 1 !important;
}

.icons {
  color: #5b7384;
  font-size: 16px;
  font-weight: 500;
}

.text {
  font-family: var(--font-arcadia), system-ui, sans-serif;
  color: #5b7384;
}
