.murItem:hover {
  background-color: rgba(112, 115, 147, 0.058823529411764705) !important;
}

.murItemActive {
  background-color: rgba(112, 115, 147, 0.058823529411764705) !important;
}

.murCancelItem:hover {
  background-color: transparent !important;
}
